@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<style>
    .leaf-curve{
        border-radius: 47% 53% 51% 49% / 86% 18% 82% 14%;
        background-color: rgb(188, 250, 188);
        position:absolute;
        height:1000px;
        width: 1000px;
        left: -100px;
        top:-10%;
        z-index: -1;
    }



    /* Custom CSS for the About page */

    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        color: #333;
    }

    .container {
        margin-top: 50px;
    }

    .about-content {
        background-color: #fff;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.1em;
        line-height: 1.6;
    }

</style>





<div class="container">
    <div class="about-content">
        <h1>About Our Plant Adoption Service</h1>
        <p>Welcome to our Plant Adoption Service! We strive to connect plant enthusiasts with their perfect green companions. Our platform offers a diverse selection of plants for browsing, allowing users to explore a variety of plant species.</p>

        <p>At our service, becoming a plant parent is made easy. Simply browse through our collection, choose the plants that resonate with you, and send in your information using our adoption form. We value the happiness and satisfaction of both our plants and their future owners.</p>

        <p>Once you've submitted your information, our dedicated team will promptly get in touch with you to arrange the delivery of your chosen plant. Our goal is to ensure a seamless and delightful experience, making you a happy and proud plant parent.</p>
    </div>
</div>
