@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>



  </style>
  <div class="mt-5">



    <h1>Plant Adoption Service - Terms and Conditions</h1>

    <p>By participating in our plant adoption service, you agree to the following terms and conditions:</p>

    <ol>
        <li>You must be 18 years of age or older to adopt a plant.</li>
        <li>You must be a legal citizen or resident of the country where the adoption service is offered.</li>
        <li>You are required to provide a valid form of identification for verification purposes.</li>
        <li>We encourage individuals with a history of caring for plants and possessing basic plant care knowledge to adopt.</li>
        <li>Adopters are responsible for the proper care and maintenance of the adopted plant(s).</li>
        <li>The adoption process may involve filling out a form and agreeing to care guidelines provided by the adoption service.</li>
        <li>We reserve the right to deny plant adoption to individuals who do not meet the specified criteria or if we believe that the adopted plant(s) may not receive adequate care.</li>
        <li>Adopters understand that the availability of specific plant species may vary and is subject to change without prior notice.</li>
        <li>The adopted plant(s) are not for resale and should be used for personal enjoyment and decoration purposes only.</li>
        <li>We reserve the right to update or modify these terms and conditions at any time without prior notice.</li>
    </ol>

    <p>By proceeding with the plant adoption process, you acknowledge that you have read, understood, and agreed to these terms and conditions.</p>




  </div>

  