.container {
    position: relative;
}


.button-container {
    display: flex;
    width: auto;
    gap: 10px; /* Adjust the gap between buttons as needed */
}




/* Style table body */
tbody {
    background-color: #fff;
}

/* Style table rows */
tr {
    border-bottom: 1px solid #ddd; /* Add a bottom border to separate rows */
}

/* Style table cells */
td {
    padding: 8px;
    text-align: left;
}

    /* Style the first column differently (e.g., make it bold) */
    td:first-child {
        font-weight: bold;
    }

    /* Style links inside table cells */
    td a {
        text-decoration: none;
        color: #fff;
    }
