@model AmberEnrollmentInterface.Models.StudentsVM

@{
    ViewData["Title"] = "Edit";
}

<div class="container">


<h1>Edit</h1>

<h4>StudentsVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <input asp-for="Id" hidden />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SelectedParishId" class="control-label"></label>
                <select asp-for="SelectedParishId" class="form-control" asp-items="@Model.ParishList">
                    <option disabled>Select Parish</option>
                </select>
                <span asp-validation-for="SelectedParishId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SelectedProgramsId" class="control-label"></label>
                <select asp-for="SelectedProgramsId" class="form-control" asp-items="@Model.ProgramsList">
                    <option disabled>Select Program</option>
                </select>
                <span asp-validation-for="SelectedProgramsId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SelectedShirtId" class="control-label"></label>
                <select asp-for="SelectedShirtId" class="form-control" asp-items="@Model.ShirtsList">
                    <option disabled>Select Shirt Size</option>
                </select>
                <span asp-validation-for="SelectedShirtId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

 </div>